* {
    padding: 0;
    margin: 0;
    font-family: system-ui;
}
.banner {
    background-image:
    url("/assets/images/banner.png"), linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(10, 27, 35, 1) 50%, rgba(0, 0, 0, 1) 100%);
    background-repeat: no-repeat;
    padding-top: 40px;
}


.banner-content {
    text-align: center;
}


.banner-content h1 {
    color: #2793cd;
    text-transform: uppercase;
    margin-top: 20px;
}

.banner-content p {
    color: #fff;
    font-size: 20px;
    padding: 20px 0;
}

.banner-content button {
    color: #2793cd;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #2793cd;
    padding: 15px 40px;
    margin-bottom: 40px;
}

hr {
    border: 1px solid #2793cd;
}

#course-content {
    background-color: #000;
    text-align: center;
    padding: 70px 0px 70px 0;
    
}

#course-content h2 {
    color: #2793cd;
    text-transform: uppercase;
}

#course-content p {
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
}

.logo img{
    border-radius: 160px;
    border: 1px solid rgb(166, 166, 166, 0.2); 
    background-color: rgb(166, 166, 166,0.2);
}

.modules-list {
    display: inline-block;
}

.module {
    color: #fff;
    border: 1px solid #2793cd;
    background-color: #3e3e3e;
    border-radius: 50px;
    vertical-align: middle;
    width: 450px;
    height: 35px;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.module span {
    color: #2793cd;
    margin-right: 5px;
}

#transform-world {
    background-image: url("/assets/images/woman-code.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 470px;
    background-color: #000;
    background-blend-mode: revert;
}

#transform-world p {
    color: #fff;
    font-size: 40px;
    text-transform: lowercase;
    text-shadow: 3px 3px 1px #3a9fd5;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100%;
}

#professional-challenges {
    background-color: #000;
}

#professional-challenges h2 {
    color: #2793cd;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding: 40px;
}

#professional-challenges img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#professional-challenges p {
    color: #fff;
    text-align: center;
    padding: 15px 0px 40px 0px;
    margin: 0 500px 0 500px;
}

.footer {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(10,27,37,1) 100%);
}

.footer .dio-logo {
    padding-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer p {
    color: #fff;
    text-align: center;
    padding: 5px 0 40px 0;
}

.footer a {
    color: #2793cd;
    text-decoration: none;
}